services:
  app:
    container_name: file-upload-ui
    build:
      context: ./
    ports:
      - ${REACT_APP_PORT}:${REACT_APP_NGINX_PORT}
    environment:
      REACT_APP_API_URL: ${REACT_APP_API_URL}
      REACT_APP_WS_API_URL: ${REACT_APP_WS_API_URL}
    volumes:
      - ./ngnix.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt/:/etc/letsencrypt/


